.bg-image {
    background-image: url("/images/hero.jpg");
    height: 300px;
    width: 100%;
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image h1 {
    width: fit-content;
    background-color: rgb(146, 171, 202);
}