.hero {
    background-image: url("../images/hero1.jpg");
    margin-top: 50px;
    height: 300px;
    width: 100%;
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
}

.jumbotron h2 {
    width: fit-content;
    background-color: rgb(146, 171, 202);
    padding: 4px;
}

.jumbotron h5 {
    width: fit-content;
    background-color: rgb(146, 171, 202);
    padding: 3px;
}